@import "./scissors";
@import "./homepage";
@import "./setup";

.container {
  height: 100%;
  width: 100%;
  background: radial-gradient(rgb(55, 55, 55), black);
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(20vh, 1fr));
  grid-template-areas:
    "box1"
    "box2";
}

header {
  grid-area: box1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: gold;
    letter-spacing: 12px;
    animation: appear 3s ease;
    -webkit-animation: appear 3s ease;
  }
}

main {
  grid-area: box2;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-play {
  height: 95%;
  width: 80%;
  text-align: center;
  h3{
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 5px;
    color: red;
  }
}

.choice {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  perspective: 1000px;
}

.hand-container {
  transform-style: preserve-3d;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  svg {
    cursor: pointer;
    height: 50%;
    width: auto;
    object-fit: cover;
  }
}

#hand-rock {
  transform-origin: center;
  transform: rotate(16deg);
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
}

#hand-scissors {
  transform-origin: center;
  transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
}
