#left-blade {
  animation: left-blade 2s ease infinite alternate;
  -webkit-animation: left-blade 2s ease infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes left-blade {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(30deg);
    -webkit-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg);
  }
}

@keyframes left-blade {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(30deg);
    -webkit-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg);
  }
}

#right-blade {
  animation: right-blade 2s ease infinite alternate;
  -webkit-animation: right-blade 2s ease infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes right-blade {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
  }
}

@keyframes right-blade {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
  }
}

#right-handle {
  animation: right-handle 2s ease infinite alternate;
  -webkit-animation: right-handle 2s ease infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes right-handle {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(18deg);
    -webkit-transform: rotateZ(18deg);
    -moz-transform: rotateZ(18deg);
    -ms-transform: rotateZ(18deg);
    -o-transform: rotateZ(18deg);
  }
}

@keyframes right-handle {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(18deg);
    -webkit-transform: rotateZ(18deg);
    -moz-transform: rotateZ(18deg);
    -ms-transform: rotateZ(18deg);
    -o-transform: rotateZ(18deg);
  }
}

#left-handle {
  animation: left-handle 2s ease infinite alternate;
  -webkit-animation: left-handle 2s ease infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes left-handle {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-18deg);
    -webkit-transform: rotateZ(-18deg);
    -moz-transform: rotateZ(-18deg);
    -ms-transform: rotateZ(-18deg);
    -o-transform: rotateZ(-18deg);
  }
}

@keyframes left-handle {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-18deg);
    -webkit-transform: rotateZ(-18deg);
    -moz-transform: rotateZ(-18deg);
    -ms-transform: rotateZ(-18deg);
    -o-transform: rotateZ(-18deg);
  }
}

.start-button {
  padding: 8%;
  font-size: 45px;
  letter-spacing: 12px;
  background-color: gold;
  -webkit-box-shadow: 0px 20px 20px rgba(255, 255, 0, 0.2), 0px 0px 50px rgba(255, 255, 0, 0.2);
          box-shadow: 0px 20px 20px rgba(255, 255, 0, 0.2), 0px 0px 50px rgba(255, 255, 0, 0.2);
  opacity: 0.8;
  color: red;
  text-decoration: none;
  animation: arise 10s ease;
  -webkit-animation: arise 10s ease;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.start-button:hover {
  opacity: 1;
}

.start-button:active {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-webkit-keyframes arise {
  0% {
    opacity: 0;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes arise {
  0% {
    opacity: 0;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.game-setup {
  height: 95%;
  width: 80%;
  text-align: center;
}

.game-setup input {
  padding: 0.5% 1%;
  width: 33%;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  font-family: "Jolly Lodger", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game-setup h3,
.game-setup input {
  color: red;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 5px;
}

form button {
  cursor: pointer;
  color: red;
  background-color: transparent;
  border: none;
  font-family: "Jolly Lodger", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 5px;
}

form button:hover {
  color: gold;
}

.rounds-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  margin: auto;
}

.rounds-buttons button {
  cursor: pointer;
  height: 105px;
  width: 105px;
  outline-style: none;
  border: none;
  background-color: gold;
  color: red;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 5px;
  font-family: "Jolly Lodger", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.rounds-buttons button:hover {
  -webkit-box-shadow: 20px 0px 20px rgba(255, 255, 0, 0.2), 0px 20px 20px rgba(255, 255, 0, 0.2);
          box-shadow: 20px 0px 20px rgba(255, 255, 0, 0.2), 0px 20px 20px rgba(255, 255, 0, 0.2);
}

.rounds-buttons button:active {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}

.play-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vh;
}

.play-button-box button {
  cursor: pointer;
  width: 20%;
  outline-style: none;
  border: none;
  background-color: transparent;
  color: red;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 5px;
  font-family: "Jolly Lodger", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.play-button-box button:hover {
  color: gold;
}

.container {
  height: 100%;
  width: 100%;
  background: radial-gradient(#373737, black);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(20vh, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(20vh, 1fr));
      grid-template-areas: "box1" "box2";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  color: gold;
  letter-spacing: 12px;
  animation: appear 3s ease;
  -webkit-animation: appear 3s ease;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box2;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-play {
  height: 95%;
  width: 80%;
  text-align: center;
}

.game-play h3 {
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 5px;
  color: red;
}

.choice {
  margin: auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.hand-container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.hand-container svg {
  cursor: pointer;
  height: 50%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#hand-rock {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform: rotate(16deg);
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
}

#hand-scissors {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
}
/*# sourceMappingURL=App.css.map */