@import "./scissors";
@import "./homepage";
@import "./setup";
@import "./choice";
@import "./results";

.container {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: gold;
    letter-spacing: 12px;
    animation: appear 3s ease;
    -webkit-animation: appear 3s ease;
  }
}

main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-play {
  height: 95%;
  width: 80%;
  text-align: center;
  h3 {
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 5px;
    color: red;
  }
}

.countdown {
  margin-top: -15vh;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  h1 {
    grid-area: box2;
    color: red;
    font-size: 40px;
    letter-spacing: 12px;
  }
}

.inner-countdown {
  height: 70%;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "box1 box2 box3"
    "box4 box5 box6";
  div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.user-hand {
  grid-area: box4;
  svg {
    height: 125%;
    animation: shake 0.75s ease infinite alternate;
    -webkit-animation: shake 0.75s ease infinite alternate;
    transform-origin: center;
  }
}

#rotateHand {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.computer-hand {
  grid-area: box3;
  svg {
    height: 50%;
    animation: shake 0.75s ease infinite alternate;
    -webkit-animation: shake 0.75s ease infinite alternate;
    transform-origin: center;
  }
}

.score {
  position: absolute;
  top: 2vh;
  left: 2%;
  border: 2px dotted gold;
  width: 10%;
  z-index: -2;
  h1 {
    color: gold;
  }
}

.game-over {
  margin-top: -5vh;
  h1 {
    font-size: 45px;
  }
  svg {
    height: 350px;
  }
  button {
    cursor: pointer;
    outline-style: none;
    margin-top: 3vh;
    padding: 0.5%;
    font-family: "Jolly Lodger", cursive;
    font-size: 16px;
    letter-spacing: 4px;
    background-color: black;
    color: gold;
    border: none;
    box-shadow: 2px 2px 5px 1px gold;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    opacity: 0.75;
    &:hover{
      box-shadow: 2px 2px 5px 1px red;
      opacity: 1;
    }
  }
}

@keyframes shake {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(30deg);
    -webkit-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg);
  }
}
